{% extends 'layout.html' %}

{% block content %}

{% load static %}
{% if students %}

<table class="table table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
          <th>Department</th>
          <th>Image</th>
          <th>ACTIONS</th>

      </tr>
    </thead>
    <tbody>
    {% for row in students %}

        <tr>
            <td>{{ row.firstname }}</td>
            <td>{{ row.lastname }}</td>
            <td>{{ row.student_dpt }}</td>
            <td><img src='{{row.student_img}}' height="200" width="200"></td>
            <td>
              <a href="/update?username={{row.username}}" class="btn btn-primary btn-xs">UPDATE</a>
              <a onclick = "return deleteItem()" href="delete?username={{row.username}}" class="btn btn-warning btn-xs">DELETE</a>
          </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
<h2> No students added yet </h2>
{% endif %}
<script>
    function deleteItem(){

        if(confirm('Are you sure to delete this item?'))
        return true;
        else return false;
        }
</script>

{% endblock %}